.userprofile {
    border-radius: 35.802px;
    background: #FFD07B;
    box-shadow: 0px 0px 18.727px 0px rgba(0, 0, 0, 0.10);
    font-size: 7.16px;
    font-weight: 700;
    letter-spacing: 0.286px;
    padding: 7px;
}